body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* FONTS */
@font-face {
    font-family: "Helvetica Neue";
    src: url(/fonts/HelveticaNeue-01.ttf);
    /* src: url(/fonts/HelveticaNeue-Bold-02.ttf);
    src: url(/fonts/HelveticaNeue-BoldItalic-04.ttf);
    src: url(/fonts/HelveticaNeue-CondensedBlack-10.ttf);
    src: url(/fonts/HelveticaNeue-CondensedBold-05.ttf);
    src: url(/fonts/HelveticaNeue-Italic-03.ttf);
    src: url(/fonts/HelveticaNeue-Light-08.ttf);
    src: url(/fonts/HelveticaNeue-LightItalic-09.ttf);
    src: url(/fonts/HelveticaNeue-Medium-11.ttf);
    src: url(/fonts/HelveticaNeue-MediumItalic-12.ttf);
    src: url(/fonts/HelveticaNeue-Thin-13.ttf);
    src: url(/fonts/HelveticaNeue-ThinItalic-14.ttf);
    src: url(/fonts/HelveticaNeue-UltraLight-06.ttf);
    src: url(/fonts/HelveticaNeue-UltraLightItalic-07.ttf); */
}

/* LOGOS */
.logo-1 {
    position: absolute;
    width: 236px;
    height: 38px;
    left: 70px;
    top: 25px;
}
.logo-2 {
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 473px;
    mix-blend-mode: multiply;
}
.line-1 {
    border: solid 1px #1A1A1A;
    position: absolute;
    height: 0px;
    left: 70px;
    right: 70px;
    top: 89px;
}


/* ღილაკი */
.btn-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 513px;
    background: #1A1A1A;
    border-radius: 8px;
}

/* ღილაკის ტექსტი */
.p-1 {
    width: 212px;
    height: 24px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-1:hover {
    cursor: pointer;
    transition-duration: 4s;
    transform: scale(1.05);
}
.container {
    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

/* სათაური */
.h1-1 {
    position: absolute;
    width: 179px;
    height: 29px;
    left: 149px;
    top: 47px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
}
.pagepart {
    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1A1A1A;
}
.hr-2 {
    border: solid 1px #1A1A1A;
    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;
}
.sakheli {
    width: 370px;
    height: 122px;
    position: absolute; left: 126px; top: 157px;
    padding: 8px 24px;
}
/* LABEL */
.lb-1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-weight: bolder;
}
.sakheli input {
    box-sizing: border-box;
    border: solid 1px #BCBCBC;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute; top: 37px; left: 24px;
    padding: 13px 16px 16px 14px;
}
/* Real time writer */
#name1-1 {
    position: absolute;
    width: 123px;
    height: 42px;
    left: 80px;
    top: 68px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
}
.sakheli input::placeholder {
    width: 339px;
    height: 21px;
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.validation-1 {
    width: 371px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1px;
    align-items: center;
    position: absolute; top: 93px; left: 24px;
    color: #2E2E2E;
}
.gvari {
    width: 370px;
    height: 122px;
    position: absolute; left: 545px; top: 157px;
    padding: 8px 24px;
}
/* realtimewriter lastname */
#lastname1-1 {
    position: absolute;
    width: 166px;
    height: 42px;
    left: 223px;
    top: 68px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
}
.gvari input {
    box-sizing: border-box;
    border: solid 1px #BCBCBC;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute; top: 37px; left: 24px;
    padding: 13px 16px 16px 14px;
}
.gvari input::placeholder {
    width: 339px;
    height: 21px;
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.lb-2 {
    position: absolute;
    width: 232px;
    height: 22px;
    left: 150px;
    top: 325px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
    font-weight: bolder;
}
.asatvirti {
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    position: absolute;
    width: 107px;
    height: 27px;
    left: 401px;
    top: 325px;
    background: #0E80BF;
    border-radius: 4px;
}
.liveimg {
    position: absolute;
    border-radius: 50%;
}

/* ................................... */
.form-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;
    position: absolute;
    width: 107px;
    height: 10px;
    left: 401px;
    top: 322px;
    background: #0E80BF;
    border-radius: 4px;
}
.form-input:hover {
    cursor: pointer;
}
.form-input input {
    display:none;
}
.form-input label {
    width: 69px;
    height: 17px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.form-input label:hover {
    cursor: pointer;
}
  
.fimage {
    width: 246px;
    display:none;
    position: absolute; left: 501px; top:48px;
    border-radius: 133px;
}
.aboutme {
    width: 846px;
    height: 177px;
    position: absolute;
    top: 400px;
    left: 150px;
}
.lb-3 {
    width: 798px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    top: 8px;
    left: 0px;
    font-weight: bolder;
}
.aboutme textarea {
    box-sizing: border-box;
    border: solid 1px #BCBCBC;
    width: 798px;
    height: 103px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute; top: 37px; left: 0px;
    resize: none;
    padding: 13px 16px 69px 16px;
}
/* realtimewriteraboutme */
#aboutme1-1 {
    position: absolute;
    width: 432px;
    height: 72px;
    left: 80px;
    top: 250px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
    overflow-wrap: break-word;
}
.aboutme textarea::placeholder {
    position: absolute; left: 16px; right: 16px; top: 13px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.mail {
    width: 846px;
    height: 130px;
    position: absolute;
    top: 560px;
    left: 150px;
}
/* realtimewriteremail */
#email1-1 {
    position: absolute;
    width: 187px;
    height: 21px;
    left: 111px;
    top: 127px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}
.mail input {
    box-sizing: border-box;
    border: solid 1px #BCBCBC;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute; top: 37px; left: 0px;
    padding: 13px 16px 14px 16px;
}
.mail input::placeholder {
    position: absolute; left: 16px; right: 16px; top: 13px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.validation-2 {
    width: 798px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    position: absolute; top: 80px; left: 0px;
    color: #2E2E2E;
}
.phonenumber {
    width: 846px;
    height: 130px;
    position: absolute;
    top: 710px;
    left: 150px;
}
/* realtimewriterphonenumber */ 
#phonenumber1-1 {
    position: absolute;
    width: 151px;
    height: 21px;
    left: 111px;
    top: 158px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}
.phonenumber input {
    box-sizing: border-box;
    border: solid 1px #BCBCBC;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute; top: 37px; left: 0px;
    padding: 13px 16px 14px 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.phonenumber input::placeholder {
    position: absolute; left: 16px; right: 16px; top: 13px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.validation-3 {
    width: 798px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    position: absolute; top: 80px; left: 0px;
    color: #2E2E2E;
}
.btn-2 {
    display: flex;
    position: absolute; left: 792px; bottom: 65px;
    width: 151px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    padding: 18px 60px;
    border: none;
    justify-content: center;
    align-items: center;
}
.btn-2 p {
    width: 81px;
    height: 20px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    /* position: absolute; top: 20px; left: 35px; */
}
.btn-2 :hover {
    cursor: pointer;
}
.logo-3 {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 78px;
    top: 994px;
}
.blank {
    height: 1080px;
    background: rgb(249, 249, 249);
}
.ellipse {
    position: absolute; left: 48px; top: 45px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
}
.vector {
    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;
}
/* inputvalidation */
#name1 {
    outline: 0;
}
 #name1:focus-visible{
    border: solid 2px red;
    background-image: url(/warning.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px; 
}
#name1:focus-within{
    border: solid 2px red;
    background-image: url(/warning.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px; 
}
#name1:valid {
    border: solid 2px green;
    background-image: url(/success.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px;
}
#lastname1 {
    outline: 0;
}
#lastname1:focus-visible{
    border: solid 2px red;
    background-image: url(/warning.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px; 
}
#lastname1:focus-within{
    border: solid 2px red;
    background-image: url(/warning.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px; 
}
#lastname1:valid {
    border: solid 2px green;
    background-image: url(/success.png);
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px;
}
#private .mail {
    position: relative;
}
#text {
    color: #000;
    font-weight: bolder;
    font-style: italic;
}
/* #private.invalid .mail::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(/warning.png);
    background-size: cover;
    z-index: 1000;
    border: solid 50px red;
}
#private.valid .mail::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(/success.png);
    background-size: cover;
    z-index: 1000;
} */
#phonenumber1 {
    outline: 0;
}
#email1 {
    outline: 0;
}
#aboutme1 {
    outline: 0;
}
#aboutme1:focus-within {
    border: solid 2px green;
    background-repeat: no-repeat;
    background-position-x: 335px;
    background-position-y: center;
    background-size: 20px;
}
#email1:focus-within {
    border: solid 2px red;
    background-image: url(/warning.png);
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: center;
    background-size: 20px;
}
#email1:valid {
    border: solid 2px green;
    background-image: url(/success.png);
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: center;
    background-size: 20px;
}
#text3 {
    color: #000;
    font-weight: bolder;
    font-style: italic;
}
